.navbar-brand {
  padding: 15px 55px;
}
.header-up {
  height: 58px;
  background: @bg-color-header !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  margin: 0 !important;
}
a.main-nav-link {
  height: auto;
  padding: 30px 20px 30px;
  line-height: 1;
}
//.navbar-menu {
//  height: 85px !important;
//}
.main-navbar-nav > li {
  //padding-top: 15px;
}
.main-navbar-nav {


  & > li > a {
    padding: 30px 25px;
    color: #999999;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    text-transform: uppercase;
  }

  & > li.item-active,
  & > li:hover {
    border-bottom: 3px solid #49cbcd;
    background-color: white;


    & > a {
      color: #49cbcd;
    }
  }
}
.form-search {
  padding-top: 15px;
  width: 300px;
}
.navbar-icon {
  padding-right: 30px;
  margin: 0;
}
.icon-search {
  color: #cccccc;
}

























//.navbar-brand {
//  display: inline-block;
//}
//.up-header {
//  background: #333333;
//  min-height: 57px !important;
//  margin: 0 !important;
//  border-radius: 0 !important;
//  border: none !important;
//  min-height: 57px;
//}
//.nav-icons > li {
//  float: left;
//  margin-top: 15px;
//  list-style: none !important;
//}
//
//.main-navbar-nav {
//
//  .main-navbar-nav > li {
//    margin-left: 25px;
//  }
//
//
//  & > li > a {
//    padding: 40px 25px;
//    color: #999999;
//    font-family: OpenSansReg;
//    font-size: 14px;
//    text-transform: uppercase;
//  }
//
//  & > li.item-active,
//  & > li:hover {
//    border-bottom: 3px solid #49cbcd;
//    background-color: white;
//
//
//    & > a {
//      color: #49cbcd;
//    }
//  }
//}