.pic {
  width: 100%;
}
.image-gallery {
  padding: 0;
}

//.img-section,
//.img-section-two {
//  background: #eeeeee;
//}
.text-img-gal {
  padding-top: 20px;
  padding-left: 20px !important;
  .h3-text {
    font-size: 14px;
    font-family: OpenSansSBold;
    color: @color-text-bold-letter;
    margin-bottom: 0;
  }
  .small-text-gal {
    //œŒ ¿«”™ œŒÃ»À ”
    padding-top: 8px;
    font-family: PTSans-reg;
    font-size: 14px;
    color: @color-text-letter;
  }
}
.img-section-two {
  padding-top: 27px;
  padding-bottom: 45px;
}

.gallery-fluid {
  background: #eeeeee;
}
@media (max-width: 480px){
  .change {
    font-size: 9px !important;
  }
}
@media (max-width: 540px){
  .change {
    font-size: 9px !important;
  }
}
@media (max-width: 600px){
  .change {
    font-size: 10px !important;
  }
}
@media (max-width: 640px){
  .change {
    font-size: 10px !important;
  }
}
@media (max-width: 720px){
  .change {
    font-size: 10px !important;
  }
}
@media (max-width: 800px){
  .change {
    font-size: 10px !important;
  }
}
@media (max-width: 848px){
  .change {
    font-size: 10px !important;
  }
}
@media (max-width: 1080px){
  .change {
    font-size: 10px !important;
  }
}

